/* --------- GLOBAL ------- */
@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@1,400;1,600&display=swap');

:root {
    --text-color: #131313;
    --bg-color: #AFEEEE;
    --bg01-color: #FFBBBB;
    --bg02-color: #F9F597;
    --bg03-color: #8CF6A3;
    --bg04-color: #8af798;
    --bg05-color: #9ea7f7;
}

.azul-claro {background: var(--bg-color);}
.vermelho-claro {background: var(--bg01-color)}
.amarelo{background: var(--bg02-color);}
.verde-claro{background: var(--bg03-color);}
.roxo{background: var(--bg04-color);}

body {
    font-size: 16px;
    font-family: 'Padauk', sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
}

.title p {
    font-size: 1.2rem;
    margin: .3rem 0 1rem 0;
}

a {
    color: var(--text-color);
    background-color: var(--bg04-color);
    padding: .1em .5em;
    text-decoration: none;
    border-radius: .3rem;
}

a:hover, a:focus {
    background-color: var(--bg05-color);
    cursor: pointer;
}

.container {
    margin: 0 auto;
    width: 40%;
    height: 40vh;
    padding: 5rem 4rem 6rem 4rem;
    font-size: 1.2rem;
}

.resize {
    margin-top: .5rem;
    resize: both;
    overflow: auto;
}

/* --------- MAIN PAGE ------- */
.main-section {
    height: 60vh;
    max-width: 46ch;
    text-align: center;
    margin: 0 auto;
    display: grid;
    place-content: center;
}

/* --------- EXAMPLE 01 ------- */
.ex01 {
    display: grid;
    place-items: center;

    height: 30vh;
}

.ex01_child {
    padding: .3rem;
    border-radius: .3rem;
}

/* --------- EXAMPLE 02 ------- */
.ex02 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ex02_child {
    flex: 1 1 150px; /*  Stretching: ocupa todo o espaço disponivel */
    flex: 0 1 150px; /*  No Stretching: move container mas não altera o tamanho da div */

    margin: 5px;
    padding: 2rem 1rem;
    justify-content: center;
    text-align: center;
    border-radius: .5rem;
}

/* --------- EXAMPLE 03 ------- */
.ex03 {
    display: grid;
    grid-template-columns: minmax(50px, 25%) 1fr;
}

.sidebar {
    height: auto;

    padding: 2rem 0;
    text-align: center;
}

.content {
    padding: 2rem;
}

/* --------- EXAMPLE 04 ------- */
.ex04 {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 200px;

    text-align: center;
}

.header, .footer{
    padding: .6rem 0;
}

.main {
    padding-top: 1rem;
}

/* --------- EXAMPLE 05 ------- */
.ex05 {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    
    height: 200px;
    text-align: center;
}

.header01, .lsidebar, .main01, .rsidebar, .footer01 {
    padding: 0.5rem;
}

.header01 {
    grid-column: 1 / 4;
}

.lsidebar {
    grid-column: 1 / 2;
}

.main01 {
    grid-column: 2 / 3;
}

.rsidebar {
    grid-column: 3 / 4;
}

.footer01 {
    grid-column: 1 / 4;
}

/* --------- EXAMPLE 06 ------- */
.ex06 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.span12, .span6, .span4, .span2 {
    padding: 1rem 0;
}

.span12 {
    grid-column: 1 / span 12;
}

.span6 {
    grid-column: 1 / span 6;
}

.span4 {
    grid-column: 1 / span 4;
}

.span2 {
    grid-column: 1 / span 2; 
}

/* --------- EXAMPLE 07 ------- */
.ex07 {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    
    height: 150px;
}

.ex07_01, .ex07_02, .ex07_03, .ex07_04 {
    display: grid;
    place-items: center;
    border-radius: .5rem;
}

/* --------- EXAMPLE 08 ------- */
.ex08 {
    height: auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
}

.ex08_card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
}

.ex08_card p {
    padding: .5rem 0;
}

.visual {
    height: 100px;
    width: 100%;
}

/* --------- EXAMPLE 09 ------- */
.ex09 {
    display: grid;
    place-items: center;
}

.ex09_card {
    width: clamp(23ch, 35%, 46ch); /* REVER ISSO AQUI */
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
}

.ex09_visual {
    height: 125px;
    width: 100%;
    margin: 1rem 0;
}

/* --------- EXAMPLE 10 ------- */
.ex10 {
    display: grid;
    place-items: center;
}

.ex10_visual {
    aspect-ratio: 16 / 9;
    margin: 1rem 0;
}

.ex10_card {
    width: 35%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

/* ---------- FOOTER -------- */
footer {
    margin-top: 5rem;
    height: 100px;
    display: grid;
    place-items: center;
    text-align: center;

    background: #EAEBDB;
}

.madeby a {
    background-color: #EAEBDB;
    padding: 0;
    border-radius: 0;
}

/* ---------------------------------------- */
@media screen and (max-width: 800px) {
    .container {
        width: 85%;
        height: 40vh;
        padding: 8rem 2rem;
        font-size: 1rem;
    }
    .ex02_child {
        flex: 0 1 40px; 
    }
    .span12, .span6, .span4, .span2 {
        padding: .5rem 0;
    }
    .ex07 {
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    }
    .ex09_card {
        width: clamp(15ch, 40%, 30ch);
    }
}
